body {
    font-family: 'Arial, sans-serif';
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  .recipe-list-container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .recipe-list-container h3, 
  .recipe-detail-container h3 {
    /* text-align: center; */
    color: #333;
  }
  
  .recipe-list {
    list-style-type: none;
    padding: 0;
  }
  
  .recipe-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .recipe-list li:hover {
    background-color: #f0f0f0;
  }
  
  .recipe-detail-container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .recipe-detail-container ul {
  list-style-type: none;
  padding: 0;
  margin-left: 20px; 
  text-align: left;
}

.recipe-detail-container li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

  .recipe-image {
    width: 100% !important;
    max-width: 300px !important;
    height: auto !important;
    display: block !important;
    margin: 10px 0 !important;
    object-fit: contain !important;
  } 